<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<!--//<link rel="stylesheet" href="./style.css"> -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
  <title>SUMMARY</title>


<main role="main">

        <div class="text-center">
            <div class="container1">
                <div class="logo_box">
                    <img class = "logo_image" src="{{ url_for('static', filename='image/title.png') }}">
                </div>
<!--                <form method="POST">-->
<!--                    <input type="text">-->
<!--                    <button type="submit">검색</button>-->
<!--                </form>-->
                <form method="POST">
                    <div class="input-grou b-3">
                        <input type="text" name="query" class="form-box">
                    </div>
                    <p>
                        <button type="submit" name="submit" value="search" class="btn1 btn-primary my-2">YouTube Search</button>
                    </p>
                </form>

                <div class="album py-5 bg-light ">
            <div class="container ">
                <div class="row ">
                    {% for video in videos%}
                    <div class="col-md-4 ">
                        <div class="card mb-4 shadow-sm ">
                            <img class="bd-placeholder-img card-img-top " width="100% " height="225 " src="{{video.thumbnail}} " preserveAspectRatio="xMidYMid slice " focusable="false " role="img " aria-label="Placeholder: Thumbnail "></img>
                            <div class="card-body ">
                                <p class="card-text ">{{video.title}}</p>
                                <div class="d-flex justify-content-between align-items-center ">
                                    <div class="btn-group ">
                                        <a type="button " href="{{video.url}} " class="btn btn-sm btn-outline-danger " target="_blank " rel="noopener noreferrer ">View</a>
                                        <a type="button " href="http://127.0.0.1:5000/?vi={{video.id}} " class="btn btn-sm btn-outline-danger " target="_blank " rel="noopener noreferrer ">Summary</a>
                                    </div>
                                    <small class="text-muted ">시청자수 : {{video.viewer}}명</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
            </div>

        </div>

    </main>
<script  src="/static/search.js"></script>

</body>
</html>
